@-webkit-keyframes fade-in {
		0% {
		opacity: 0;
	}
	}

.v-animate-fade-in {
	-webkit-animation-name: fade-in;
	-webkit-animation-duration: 200ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: fade-in;
	-moz-animation-duration: 200ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
}