
.settings

.settings/*

WebContent/VAADIN/widgetsets

WebContent/VAADIN/widgetsets/*

WebContent/WEB-INF/lib/vaadin*.jar

build

build/*

deploy

deploy/*

*.svn

.svn

*.launch
WebContent/VAADIN/gwt-unitCache*