/* TODO still not working properly with the Sass compiler */
/*@mixin keyframes ($name) {
		@-webkit-keyframes #{$name} {
			@content;
		}
		@-moz-keyframes #{$name} {
			@content;
		}
}

@include keyframes(fade-in) {
	0% { opacity: 0; }
}*/


/* TODO add other browser prefixes */
@-webkit-keyframes fade-in {
	0% { opacity: 0; }
}

@mixin animation($name, $duration: 200ms, $func: ease-in-out) {
	-webkit-animation-name: $name;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: $func;
	
	-moz-animation-name: $name;
	-moz-animation-duration: $duration;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: $func;
}

.v-animate-fade-in {
	@include animation(fade-in);
}