@import "keyframes.css";

@mixin animation($name, $duration: 200ms, $func: ease-in-out) {
	-webkit-animation-name: $name;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: $func;
	
	-moz-animation-name: $name;
	-moz-animation-duration: $duration;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: $func;
}

.v-animate-fade-in {
	@include animation(fade-in);
}


.v-anim-fade-in,
.v-anim-fade-in-pop {
	opacity: 0 !important;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	}

.v-anim-fade-in-pop {
	width: 0 !important;
	height: 0 !important;
	}

.v-anim-roll-down-open,
.v-anim-roll-right-open {
	visibility: hidden !important;
	}

.v-anim-roll-down-open-pop {
	height: 0 !important;
	overflow: hidden !important;
	}

.v-anim-roll-right-open-pop {
	width: 0 !important;
	overflow: hidden !important;
	}


/* Disclosure component styles */
.v-disclosure .v-csslayout-margin {
	padding-left: 12px;
	padding-bottom: 5px;
	}

.v-disclosure-caption {
	margin-left: -12px;
	height: 18px;
	}

.v-disclosure-caption .v-button-caption {
	color: #222;
	text-decoration: none;
	font-weight: bold;
	padding-left: 12px;
	background: transparent url(../../../themes/base/common/img/sprites.png) no-repeat 2px -39px;
	}

.v-disclosure-caption-open .v-button-caption {
	background-position: -9px -11px;
	}